<h1>SOOOOO FLOW</h1>
<div class="container">
  <h2>
    <%= @question.title %>
  </h2>
  <em>
    <%= @question.created_at %>
  </em>
  <br>
  <%= @question.body %>
  <%= @question.programming_language %>

  <p>Current Answers:</p>
  <% @answers.each do |answer| %>
  <p>
  <%= answer.created_at %>
  <%= answer.title %>
  <%= answer.body %>
  </p>
  <% end %>

    <p><a href="/questions/<%=@question.id%>/answers/new">Respond with a new Answer</a></p>
  </div>

  <div class="container">
  <br>
    <a href="/questions/new"><h3>Ask a question!</h3></a>
  </div>



