<h1>SOOOOO FLOW</h1>
<div class="container">
  <% @questions.each do |question| %>

      <h3>Question:</h3>

      <h2><a href='/questions/<%=question.id%>'><%= question.title %> </a></h2>

      <em><%= question.created_at %></em>

      <br>

      <%= question.body %>
      <%= question.programming_language %>

      <p>
        <a href="/questions/<%=question.id%>/answers/new">Respond with an Answer</a>
      </p>

      <hr>

    <% end %>

</div>

  <br>

<a href="/questions/new"><h3>Ask a question!</h3></a>


